@import "~tailwindcss/dist/base";
@import "~tailwindcss/dist/components";
@import "~tailwindcss/dist/utilities";

@import "../css/app.css";

@import "vue-select/src/scss/vue-select.scss";

.container {
	@apply p-5;
}

.loader {
    border-top-color: theme('colors.blue.700');
  -webkit-animation: spinner 1.5s linear infinite;
  animation: spinner 1.5s linear infinite;
}

@-webkit-keyframes spinner {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spinner {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.v-select-style,
.v-select-style-dark {
    @apply rounded-lg;
}
.v-select-style {
    @apply bg-white;
}
.v-select-style-dark {
    @apply bg-gray-300;
}
.v-select-style .vs__dropdown-toggle,
.v-select-style-dark .vs__dropdown-toggle {
    @apply border-none;
    @apply rounded-lg;
}
.v-select-style .vs__dropdown-toggle .vs__selected-options input,
.v-select-style-dark .vs__dropdown-toggle .vs__selected-options input {
    @apply px-4;
}
.v-select-style .vs__dropdown-toggle .vs__selected-options input,
.v-select-style-dark .vs__dropdown-toggle .vs__selected-options input {
    @apply text-gray-700;
}